<%- include('../partials/header.ejs'); %>

<div id="chat-container">
  <div id="search-container">
    <input type="text" placeholder="Search" />
  </div>
  <div id="conversation-list">
    <div class="conversation">
      <img src="./assets/user2.png" alt="Sumit" />
      <div class="title-text">Sumit Saha</div>
      <di class="created-date"> Apr 16 </di>
      <div class="conversation-message">This is a message</div>
    </div>
  </div>
  <div id="new-message-container">
    <a href="#">+</a>
  </div>
  <div id="chat-title">
    <span>Sumit</span>
    <img src="./assets/trash.png" alt="Delete Conversation" />
  </div>
  <!-- placeholder div if no messages are in messages area -->
  <div id="chat-message-list">
    <div class="nothing">select a conversation</div>
  </div>
  <!-- send message form -->
  <form id="chat-form" method="post" enctype="multipart/form-data">
    <label for="attachment"><img src="./asstes/attachment.png" alt="Add Attachment" /></label>
    <input type="file" multiple name="attachment" class="hide" id="attachment" />
    <input type="text" name="message" placeholder="Type a message" autocomplete="off" />
  </form>
</div>

<%- include('../partials/add-conversation-modal.ejs')  %>
</body>

</html>